.InputHero{
    display: flex;
}

.InputHero__add{
    width: 30px;
    font-size: 20px;
    border: none;
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
    border-left: none;
    cursor: pointer;
    position: relative;
    left: -5px;
    outline: none;
}

.InputHero__input{
    padding: 10px;
    border: 1px solid lime;
    border-right: none;
    outline: none;
}
